<!-- About Section -->
<section id="about" class="about section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                <p class="who-we-are">Who We Are</p>
                <h3>Empowering Sydney with Premier IT Support</h3>
                <p class="fst-italic">
                    Our journey began with a simple goal: to provide professional, expert IT support and services for
                    homes and businesses across Sydney. With our team of expert technicians, we're equipped to handle
                    any hardware or software issue, ensuring seamless technology experiences for our clients. Choose us
                    as your trusted partner for all your IT needs.
                </p>

                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>We offer both on-site and remote support options, providing flexibility and convenience for our clients.</span></li>
                </ul>
                <!-- <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
            </div>

            <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">
                    <div class="col-lg-6">
                        <img src="assets/img/about-company-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="row gy-4">
                            <div class="col-lg-12">
                                <img src="assets/img/about-company-2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-12">
                                <img src="assets/img/about-company-3.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- /About Section -->