<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-telephone"></i>
                    </div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">CALL US</a></h4>
                        <p class="description">Feel free to ring us at 1300 66 82 77, and let's chat about your IT
                            requirements.</p>
                    </div>
                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="bi bi-calendar2-event-fill"></i>
                    </div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">BOOK A SERVICE</a></h4>
                        <p class="description">Our helpful team will schedule a tech expert at your convenience.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="bi bi-check-square-fill"></i>
                    </div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">SOLVED</a></h4>
                        <p class="description">Rest assured, we'll resolve all your IT concerns and ensure your
                            satisfaction with our service.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Featured Services Section -->