<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Services for Businesses</h2>
        <p>In today's digital age, where almost every individual relies on laptops for
            various purposes, whether you're a college student, a working professional, or a businessman, the
            need for reliable maintenance and repair services is paramount. Introducing VR Tech Solutions, your
            go-to destination for cutting-edge solutions in laptop repair and maintenance across the country.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row g-5">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-cyan position-relative">
                    <i class="bi bi-apple icon"></i>
                    <div>
                        <h3>Apple MAC Repairs</h3>
                        <p>Embark on a journey of unrivaled Apple repair excellence with us. We're committed to ensuring that your cherished Mac continues to dazzle you with its unparalleled performance and reliability. Trust us to handle your Mac with the utmost care and expertise, restoring it to its former glory.</p>
                        <a [routerLink]="['/laptop-macbook-repair']" class="read-more stretched-link">Learn More <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item item-orange position-relative">
                    <i class="bi bi-laptop icon"></i>
                    <div>
                        <h3>Computer Repairs</h3>
                        <p>Step into a realm of computer repair mastery with us. With a wealth of experience and a dedication to staying abreast of the latest technological advancements, we possess the expertise to handle a diverse array of computer repairs swiftly and skillfully. We offer prompt, dependable, and budget-friendly solutions, ensuring your computing experience is smooth sailing once more.</p>
                        <a [routerLink]="['/computer-repairs']" class="read-more stretched-link">Learn More <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div><!-- End Service Item -->


            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item item-indigo position-relative">
                    <i class="bi bi-calendar4-week icon"></i>
                    <div>
                        <h3>Web Development.</h3>
                        <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi
                            at autem alias eius labore.</p>
                        <a href="service-details.html" class="read-more stretched-link">Learn More <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item item-pink position-relative">
                    <i class="bi bi-chat-square-text icon"></i>
                    <div>
                        <h3>IT Support.</h3>
                        <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure.
                            Corrupti recusandae ducimus enim.</p>
                        <a href="service-details.html" class="read-more stretched-link">Learn More <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item item-teal position-relative">
                    <i class="bi bi-easel icon"></i>
                    <div>
                        <h3>Virus, Spyware & Malware Removal</h3>
                        <p>When it comes to battling viruses, spyware, and malware, consider us your digital knights in shining armor. We're here to rid your device of any malicious invaders and fortify it against future attacks by providing expert advice and proactive security measures.</p>
                        <a [routerLink]="['/virus-spyware-malware-removal']" class="read-more stretched-link">Learn More <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item item-red position-relative">
                    <i class="bi bi-bounding-box-circles icon"></i>
                    <div>
                        <h3>Data Recovery</h3>
                        <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit
                            provident adipisci neque.</p>
                        <a href="service-details.html" class="read-more stretched-link">Learn More <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Services Section -->